/**
 * paypal plus
 */
#pp-plus .spinner .loader {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -15px;
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: rgba(255, 255, 255, 0.701961);
  -webkit-animation: rotation .7s infinite linear;
  -moz-animation: rotation .7s infinite linear;
  -o-animation: rotation .7s infinite linear;
  animation: rotation .7s infinite linear;
  border-left: 8px solid rgba(0, 0, 0, 0.2);
  border-right: 8px solid rgba(0, 0, 0, 0.2);
  border-bottom: 8px solid rgba(0, 0, 0, 0.2);
  border-top: 8px solid #2180c0;
  border-radius: 100%;
}

#pp-plus .spinner {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
    background-color: rgba(255,255,255,0.5);
}

#pp-plus .spinner .spinWrap {
  width: 200px;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -100px;
}

#pp-plus .spinner .loadingMessage {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 55px;
  text-align: center;
  z-index: 100;
}

#pp-plus {
    /*min-height: 248px;*/
    position: relative;
}

#pp-loading-body {
    margin: 20px;
    text-align: center;
}

/**
 * paypal express
 */
.paypalexpress.btn-ppe-article, .paypalexpress.btn-ppe-cart {
    padding: 0;
    margin-top: 15px;
    background: none;
    border: 0;
}
.paypalexpress.btn-ppe-article {
    margin-top: 0;
    margin-bottom: 15px;
}
.proceed .paypalexpress.btn-ppe-cart {
    float: left;
}
.paypalexpress.btn-ppe-cart:active {
    box-shadow: none;
}

.paypalexpress.btn-ppe-checkout {
    display: block;
}

.paypalexpress.btn-ppe-cart-popup, .paypalexpress.btn-ppe-cart {
    display: block;
    text-align: center;
}

.paypalexpress.btn-ppe-cart-popup img {
    margin-top: 1em;
}

/**
 * paypal installments
 */
@media (min-width: 1125px) {
    .modal-dialog.modal-lg {
        width: 1100px;
    }
}

.ppf-container {
    color: #333;
    border: 1px solid #d1d1d1;

    display: block;
    padding: 10px;
    margin: 0 0 20px 0;
}

.ppf-details .price,
.ppf-container .price {
    font-size: 100%;
    font-weight: bold;
}

.table-financing-option .value {
    text-align: right;
    font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
}

.ppf-container a.show-details {
    font-size: 100%;
    margin: 2px 0 0 0;
    display: block;
    text-align: center;
}

.ppf-container a.show-details:hover {
    color: #666;
}

.ppf-image {
    max-width: 200px;
    margin-top: 10px;
}

.ppf-container .lender,
.ppf-container .legal-info {
    opacity: 0.9;
    font-size: 85%;
}

.table-financing-option {
    margin: 10px 0;
    font-size: 90%;
}

.ppf-details .table-financing-option {
    font-size: 100%;
}

.table-financing-option:hover,
.table-financing-option:hover tfoot {
    background: #f3f3f3;
}

.table-financing-option:hover tfoot {
    color: #fff;
    background: rgb(0,156,222);
}

.table-financing-option .total {
    background: #f3f3f3;
}

.table-financing-option .badge {
    min-width: 2em;
    font-size: 110%;
    padding: 4px 6px;
    border-radius: 0px;
    background: rgb(0,156,222);
}

.table-financing-option .rate-label {
    text-transform: uppercase;
}

.ppf-details .info {
    background: #f3f3f3;
    text-align: center;
    padding: 10px;
    margin: 0 0 20px 0;
}

.ppf-details .info p.desc {
    margin: 5px 0;
    font-size: 0.9em;
}

.ppf-details .info p.title,
.ppf-details .info p.loan {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}

.ppf-details .legal {
    font-size: 0.9em;
    text-align: center;
}

.ppf-star {
    color: #a94442;
    font-style: normal;
}

.ppf-star:before {
    content: '\2605';
}

/**
 * paypal redirect
 */
.ppf-redirect-notice {
    text-align: center;
    margin-top: 65px;
}

.ppf-redirect-notice .fa {
    opacity: 0.4;
    font-size: 3em;
}

.ppf-redirect-notice .header {
    margin-top: 10px;
    font-weight: bold;
    font-size: 110%;
}

.ppf-redirect-notice .desc {
    font-size: 90%;
}

/**
 * paypal common
 */
.modal.modal-center {
    text-align: center;
    padding: 0!important;
}

.modal.modal-center:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal.modal-center .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}